*.log
.DS_Store
node_modules
.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd
dist

src/test-markdown/page/*
!src/test-markdown/page/.gitkeep 
src/test-markdown/post/*
!src/test-markdown/post/.gitkeep
test/test-markdown/page/*
!test/test-markdown/page/.gitkeep 
test/test-markdown/post/*
!test/test-markdown/post/.gitkeep

wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/hello.php
wp-content/uploads/*
!wp-content/uploads/index.php


wordpress-importer.0.6.4.zip
themeunittestdata.wordpress.xml