*.log
.DS_Store
node_modules
.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd
dist

packages/wp-api-to-static/src/content

packages/wp-api-to-static/src/test-markdown/page/*
!packages/wp-api-to-static/src/test-markdown/page/.gitkeep 
packages/wp-api-to-static/src/test-markdown/post/*
!packages/wp-api-to-static/src/test-markdown/post/.gitkeep


wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/hello.php
wp-content/uploads/*
!wp-content/uploads/index.php


wordpress-importer.0.6.4.zip
themeunittestdata.wordpress.xml